---
layout: layouts/base.njk
title: Articles from Medium
---

<h2>Articles <small>(sourced from {{ medium.url }})</small></h2>
<ul class="listing">
{% for item in medium.posts %}
  <li>
    <p class="meta">Published on {{ item.pubDate | date }} by {{ item['dc:creator'] }}</p>
    <h3><a href="/posts/{{ item.path }}">{{ item.title }}</a></h3>
    <img src="{{ item['enclosure.url'] }}">
  </li>
 {% endfor %}
</ul>
